{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>

    <title>Online Medicine Ordering</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Rubik:400,700|Crimson+Text:400,400i" rel="stylesheet">
    <link href="{% static 'assets/fonts/icomoon/style.css' %}">
  
    <link href="{% static 'assets/css/bootstrap.min.css' %}">
    <link href="{% static 'assets/css/magnific-popup.css' %}">
    <link href="{% static 'assets/css/jquery-ui.css' %}">
    <link href="{% static 'assets/css/owl.carousel.min.css' %}">
    <link href="{% static 'assets/css/owl.theme.default.min.css' %}">
  
  
    <link href="{% static 'assets/css/aos.css' %}">
  
    <link href="{% static 'home/style1.css' %}">
    <script type="text/javascript" src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
  
  </head>


<body>

  <div class="site-wrap">
    {% include 'home/header.html' %}

    <div class="bg-light py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-0"><a href="index.html">Home</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Store</strong></div>
        </div>
      </div>
    </div>

    <div class="site-section">
      <div class="container">
        
        <div class="row sea">
          <div class="col-lg-6">
              <form action="{% url 'cart:search' %}" method="POST">
                {% csrf_token %}
                <input type="text" name="inp" id="id_inp" class="form-control" placeholder="Search keyword and hit enter...">
              </form>
          </div>
          <div class="col-lg-3">
            <button type="button" class="btn btn-secondary btn-md dropdown-toggle px-4" id="dropdownMenuReference"
              data-toggle="dropdown">Filter By</button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuReference">
              <a class="dropdown-item" href="{% url 'cart:sort_alphabet' %}">Name, A to Z</a>
              <a class="dropdown-item" href="{% url 'cart:sort_desc_alphabet' %}">Name, Z to A</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'cart:sort_price' %}">Price, low to high</a>
              <a class="dropdown-item" href="{% url 'cart:sort_desc_price' %}">Price, high to low</a>
            </div>
          </div>

          
          <div class="col-lg-3">
            <a type="button" href="{% url 'cart:ocr' %}" class="btn btn-secondary btn-md">Prescription &nbsp;&nbsp;<i class="fa fa-upload"></i></a>
          </div>
        </div>
        <br>
    
        <div class="row">
          {% for item in all_items %}
          <div class="col-sm-6 col-lg-4 text-center item mb-4">
            <a href="shop-single.html"> <img src="{{item.image}}" alt="Image" height="200px" width="200px"></a>
            <h3 class="text-dark"><a href="shop-single.html">{{item.name}}</a></h3>
            <p class="price">Rs. {{item.price}}</p>
            <button type="button" class="btn btn-secondary btn-md"><a style="color:white;" href="{% url 'cart:add_to_cart' item.id %}">Add to Cart</a></button>
          </div>
          {%endfor%}
        </div>
    {% if all_items.paginator.num_pages > 1 %}
        {% include 'cart/pagination.html' with items=all_items %}
    {% endif %}

    <br><br>


    
    <div class="site-section bg-secondary bg-image">
      <div class="container">
        <div class="row align-items-stretch">
          <div class="col-lg-6 mb-5 mb-lg-0">
            <a href="#" class="part1 banner-1 h-100 d-flex" >
              <div class="banner-1-inner align-self-center">
                <h2>Pharma Products</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae ex ad minus rem odio voluptatem.
                </p>
              </div>
            </a>
          </div>
          <div class="col-lg-6 mb-5 mb-lg-0">
            <a href="#" class="part2 banner-1 h-100 d-flex">
              <div class="banner-1-inner ml-auto  align-self-center">
                <h2>Rated by Experts</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae ex ad minus rem odio voluptatem.
                </p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>

    {% include 'home/footer.html' %}

  </div>

    <script type="text/javascript" src="{% static 'assets/js/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/jquery-ui.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/popper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/aos.js' %}"></script>

    <script type="text/javascript" src="{% static 'assets/js/main.js' %}"></script>

    <script>
      AOS.init({
      duration: 800,
      easing: 'slide',
      once: true
    });
   
   jQuery(document).ready(function($) {
   
     "use strict";
   
     var slider = function() {
       $('.nonloop-block-3').owlCarousel({
         center: false,
         items: 1,
         loop: true,
         smartSpeed: 700,
         stagePadding: 15,
         margin: 20,
         autoplay: true,
         nav: true,
         navText: ['<span class="icon-arrow_back">', '<span class="icon-arrow_forward">'],
         responsive:{
           600:{
             margin: 20,
             items: 2
           },
           1000:{
             margin: 20,
             items: 3
           },
           1200:{
             margin: 20,
             items: 3
           }
         }
       });
     };
     slider();
   
   
     var siteMenuClone = function() {
   
       $('<div class="site-mobile-menu"></div>').prependTo('.site-wrap');
   
       $('<div class="site-mobile-menu-header"></div>').prependTo('.site-mobile-menu');
       $('<div class="site-mobile-menu-close "></div>').prependTo('.site-mobile-menu-header');
       $('<div class="site-mobile-menu-logo"></div>').prependTo('.site-mobile-menu-header');
   
       $('<div class="site-mobile-menu-body"></div>').appendTo('.site-mobile-menu');
   
       
   
       $('.js-logo-clone').clone().appendTo('.site-mobile-menu-logo');
   
       $('<span class="ion-ios-close js-menu-toggle"></div>').prependTo('.site-mobile-menu-close');
       
   
       $('.js-clone-nav').each(function() {
         var $this = $(this);
         $this.clone().attr('class', 'site-nav-wrap').appendTo('.site-mobile-menu-body');
       });
   
   
       setTimeout(function() {
         
         var counter = 0;
         $('.site-mobile-menu .has-children').each(function(){
           var $this = $(this);
           
           $this.prepend('<span class="arrow-collapse collapsed">');
   
           $this.find('.arrow-collapse').attr({
             'data-toggle' : 'collapse',
             'data-target' : '#collapseItem' + counter,
           });
   
           $this.find('> ul').attr({
             'class' : 'collapse',
             'id' : 'collapseItem' + counter,
           });
   
           counter++;
   
         });
   
       }, 1000);
   
       $('body').on('click', '.arrow-collapse', function(e) {
         var $this = $(this);
         if ( $this.closest('li').find('.collapse').hasClass('show') ) {
           $this.removeClass('active');
         } else {
           $this.addClass('active');
         }
         e.preventDefault();  
         
       });
   
       $(window).resize(function() {
         var $this = $(this),
           w = $this.width();
   
         if ( w > 768 ) {
           if ( $('body').hasClass('offcanvas-menu') ) {
             $('body').removeClass('offcanvas-menu');
           }
         }
       })
   
       $('body').on('click', '.js-menu-toggle', function(e) {
         var $this = $(this);
         e.preventDefault();
   
         if ( $('body').hasClass('offcanvas-menu') ) {
           $('body').removeClass('offcanvas-menu');
           $this.removeClass('active');
         } else {
           $('body').addClass('offcanvas-menu');
           $this.addClass('active');
         }
       }) 
   
       // click outisde offcanvas
       $(document).mouseup(function(e) {
         var container = $(".site-mobile-menu");
         if (!container.is(e.target) && container.has(e.target).length === 0) {
           if ( $('body').hasClass('offcanvas-menu') ) {
             $('body').removeClass('offcanvas-menu');
           }
         }
       });
     }; 
     siteMenuClone();
   
   
     var sitePlusMinus = function() {
       $('.js-btn-minus').on('click', function(e){
         e.preventDefault();
         if ( $(this).closest('.input-group').find('.form-control').val() != 0  ) {
           $(this).closest('.input-group').find('.form-control').val(parseInt($(this).closest('.input-group').find('.form-control').val()) - 1);
         } else {
           $(this).closest('.input-group').find('.form-control').val(parseInt(0));
         }
       });
       $('.js-btn-plus').on('click', function(e){
         e.preventDefault();
         $(this).closest('.input-group').find('.form-control').val(parseInt($(this).closest('.input-group').find('.form-control').val()) + 1);
       });
     };
     sitePlusMinus();
   
   
     var siteSliderRange = function() {
       $( "#slider-range" ).slider({
         range: true,
         min: 0,
         max: 500,
         values: [ 75, 300 ],
         slide: function( event, ui ) {
           $( "#amount" ).val( "$" + ui.values[ 0 ] + " - $" + ui.values[ 1 ] );
         }
       });
       $( "#amount" ).val( "$" + $( "#slider-range" ).slider( "values", 0 ) +
         " - $" + $( "#slider-range" ).slider( "values", 1 ) );
     };
     siteSliderRange();
   
   
     var siteMagnificPopup = function() {
       $('.image-popup').magnificPopup({
         type: 'image',
         closeOnContentClick: true,
         closeBtnInside: false,
         fixedContentPos: true,
         mainClass: 'mfp-no-margins mfp-with-zoom', // class to remove default margin from left and right side
          gallery: {
           enabled: true,
           navigateByImgClick: true,
           preload: [0,1] // Will preload 0 - before current, and 1 after the current image
         },
         image: {
           verticalFit: true
         },
         zoom: {
           enabled: true,
           duration: 300 // don't foget to change the duration also in CSS
         }
       });
   
       $('.popup-youtube, .popup-vimeo, .popup-gmaps').magnificPopup({
         disableOn: 700,
         type: 'iframe',
         mainClass: 'mfp-fade',
         removalDelay: 160,
         preloader: false,
   
         fixedContentPos: false
       });
     };
     siteMagnificPopup();
   
     var searchShow = function() {
       // alert();
       var searchWrap = $('.search-wrap');
       $('.js-search-open').on('click', function(e) {
         e.preventDefault();
         searchWrap.addClass('active');
         setTimeout(function() {
           searchWrap.find('.form-control').focus();
         }, 300);
       });
       $('.js-search-close').on('click', function(e) {
         e.preventDefault();
         searchWrap.removeClass('active');
       })
     };
     searchShow();
   
   });
   </script>

</body>



</html>