<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">

        <div class="block-7">
          <h3 class="footer-heading mb-4">About Us</h3>
          <p>We deliver medicines at your doorstep. No more going to pharmacies. We provide safe and quick delivery from your nearest stores.</p>
        </div>

      </div>
      <div class="col-lg-3 mx-auto mb-5 mb-lg-0">
        <h3 class="footer-heading mb-4">Quick Links</h3>
        <ul class="list-unstyled">
          <li><a href="{% url 'cart:searchpage' %}">Supplements</a></li>
          <li><a href="{% url 'cart:searchpage' %}">Vitamins</a></li>
          <li><a href="{% url 'cart:searchpage' %}">Diet &amp; Nutrition</a></li>
          <li><a href="{% url 'cart:searchpage' %}">Tea &amp; Coffee</a></li>
        </ul>
      </div>

      <div class="col-md-6 col-lg-3">
        <div class="block-5 mb-5">
          <h3 class="footer-heading mb-4">Contact Info</h3>

          <div class="row">
            <div class="col-md-2 col-lg-2"><i class="fa fa-map-marker"></i></div>
            <div class="col-md-10 col-lg-10">Fake St. Street, Andhra Pradesh, India></div>
          </div>

          <div class="row">
            <div class="col-md-2 col-lg-2"><i class="fa fa-phone"></i></div>
            <div class="col-md-10 col-lg-10"><a href="tel://23923929210">+2 392 3929 210</a></div>
          </div>

          <div class="row">
            <div class="col-md-2 col-lg-2"><i class="fa fa-envelope"></i></div>
            <div class="col-md-10 col-lg-10">emailaddress@domain.com</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>