asgiref==3.3.1
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
decorator==4.4.2
Django==3.1.5
django-crispy-forms==1.10.0
django-paypal==1.0.0
django-widget-tweaks==1.4.8
future==0.18.2
geocoder==1.38.1
googlevoice==3.0.0
idna==2.10
image==1.5.33
paypal==1.2.5
Pillow==8.1.0
PyJWT==2.0.0
pytesseract==0.3.7
pytz==2020.5
ratelim==0.1.6
requests==2.25.1
six==1.15.0
sqlparse==0.4.1
twilio==6.50.1
urllib3==1.26.2
