{%load static%}
<head>
	<title>Password Reset Complete</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link href=" https://fonts.googleapis.com/css?family=Amiri" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<link href="{% static 'user/password_reset_complete.css' %}" rel="stylesheet">
 </head>
 <body>
    <div class="centre">
        <h5>Your password has been set.  You may go ahead and log in now.</h5>
        <p><a class="btn btn-info" href="{% url 'home:landing' %}">Log in</a></p>
    </div>
 </body>


